# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.sqlite3

# Pytest cache
.pytest_cache/

# Migrations cache
*.db